@import url("composant/container.css");
@import url("composant/avatar.css");
@import url("composant/banner.css");
@import url("composant/table.css");
@import url("composant/text.css");
@import url("composant/card.css");
@import url("composant/section.css");
@import url("composant/image.css");
@import url("composant/grid.css");
@import url("composant/navbar.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #727272;
}



footer{
    padding: 10px;
    align-items: center;
    background-color: rgb(58, 57, 57);
    color: white;
    font-family: sans-serif ;
    justify-content: center;
}


