.menu {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(184, 184, 184);
}

.menu ul{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
}
.menu li {
    gap: 10px;
    list-style-type: none;
    display:block;           
    width: 120px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-family:sans-serif;
   
}
.menu li:hover{
    background-color: grey;
    gap: 10px;
    list-style-type: none;
    display:block;           
    width: 120px;
    height: 100px;
    text-align: center;
    transition: 1s;
}
.menu li a{
    text-decoration:none;
    color:black;
}

.titreLo {
    display:flex;
    align-items: center;
    width: 30%;
    height: auto;

}